@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* убирает подсветку при нажатии на мобильных */
nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Banny';
  src: url("../fonts/BannyBoldRound.woff") format("woff"), url("../fonts/BannyBoldRound.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* ЦВЕТ ГАМБУРГЕРА */
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  /* ЦВЕТ ГАМБУРГЕРА */
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/* Hamburger Spin */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
       -o-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.mob-menu {
  display: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  min-height: 568px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.line-vert-l,
.line-vert-r,
.line-center {
  display: block;
  position: absolute;
  top: 100px;
  bottom: 0;
  display: block;
  width: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.line-vert-l {
  left: 22%;
}

.line-vert-r {
  right: 22%;
}

/* Arrow */
.line-center {
  top: 200px;
  left: 50%;
}

.line-center::after {
  position: absolute;
  left: 50%;
  top: 83%;
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.2)), -o-linear-gradient(rgba(255, 255, 255, 0.2));
  background: linear-gradient(rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2));
  background-size: 40.6% 1px, 41.3% 1px;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
}

.menu__link {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.menu__link:hover {
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  color: #E8C300;
}

.logo {
  margin-top: 95px;
  margin-left: 10px;
}

.logo--mob {
  display: inline-block;
}

.time-job {
  position: absolute;
  left: 0px;
  top: 61%;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.info-block {
  position: absolute;
  top: 45%;
  left: 50%;
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.info-block__text {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.info-block__title {
  font-family: Banny;
  font-size: 96px;
  text-transform: uppercase;
  margin-top: 2.8%;
  white-space: nowrap;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.info-block__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  margin: 2.8% auto 0;
  background-color: #E8C300;
  border-radius: 50px;
}

.block-btn {
  margin-top: 3.5%;
}

.block-btn__book {
  display: inline-block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #E8C300;
  background-color: #E8C300;
  margin-right: 20px;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.block-btn__book:hover {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.block-btn__explore {
  display: inline-block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 20px;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.block-btn__explore:hover {
  border: 1px solid #E8C300;
  background-color: #E8C300;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.social-block {
  position: absolute;
  right: 8.1%;
  bottom: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-block a:not(:last-child) span {
  margin-bottom: 20px;
}

.social-link {
  display: block;
  width: 60px;
  height: 60px;
  -webkit-transition-duration: .2;
       -o-transition-duration: .2;
          transition-duration: .2;
}

.social-link:hover svg path {
  fill: #E8C300;
  -webkit-transition-duration: .2;
       -o-transition-duration: .2;
          transition-duration: .2;
}

.social-link:hover svg circle {
  stroke: #E8C300;
  -webkit-transition-duration: .2;
       -o-transition-duration: .2;
          transition-duration: .2;
}

/* Mobile Menu */
.mob-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.97);
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  /* padding-bottom: 100px; */
  text-align: center;
}

.mob-menu__circle {
  position: absolute;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-45px);
      -ms-transform: translateX(-45px);
          transform: translateX(-45px);
  width: 90px;
  height: 60px;
  border-radius: 0 0 70% 70% / 0 0 100% 100%;
  background-color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0px 3px 3px 0px #3e3a31;
          box-shadow: 0px 3px 3px 0px #3e3a31;
  -webkit-transition-duration: .8s;
       -o-transition-duration: .8s;
          transition-duration: .8s;
}

.menu-active {
  top: 0;
}

.scroll {
  overflow: hidden;
}

/* Mobile burger */
.mob-menu__burger {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #000;
}

.mob-menu__burger:before {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 40px;
  top: 11px;
  left: -4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mob-menu__burger:after {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 40px;
  top: 11px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -4px;
}

.hamburger {
  margin: 0 auto;
}

.mob-menu__circle--transform {
  bottom: 2px;
  -webkit-transform: translateX(-45px) perspective(200px) rotateX(180deg);
          transform: translateX(-45px) perspective(200px) rotateX(180deg);
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

.about-us {
  position: relative;
}

.about-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

.section-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-info-block__title {
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.section-info-block__title::after {
  content: "";
  display: block;
  margin: 12px auto;
  width: 60px;
  height: 5px;
  background-color: #E8C300;
  border-radius: 50px;
}

.section-info-block__text {
  max-width: 600px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  margin-bottom: 20px;
}

.section-info-block__subtext {
  max-width: 600px;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.image-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.image-block__photo img {
  max-width: 100%;
  /* height: auto; */
}

.image-block__cube {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-125px);
      -ms-transform: translateY(-125px);
          transform: translateY(-125px);
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.ourteam * {
  color: #fff;
}

.ourteam {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 44px;
}

.line-vert-l_common,
.line-vert-r_common,
.line-center_common {
  position: absolute;
  top: 0;
  bottom: 0;
}

.line-center_common::after {
  display: none;
}

.ourteam .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 46px;
}

.ourteam__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.image-block_left {
  text-align: right;
}

.image-block__cube_left {
  position: absolute;
  left: 0;
  z-index: 2;
}

.bookatable .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
  /* padding-bottom: 28px; */
}

.section-info-block__form {
  padding: 0 20px 0 55px;
}

.bookatable__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-block__cube-less {
  width: 226px;
  height: 226px;
  -webkit-transform: translateY(-113px);
      -ms-transform: translateY(-113px);
          transform: translateY(-113px);
}

.form__input {
  /* width: 260px; */
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  height: 60px;
  background-color: #E5E5E5;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 15px;
  /*  &:not(:last-child) {
      margin-right: 10px;
   } */
}

.form__button {
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #E8C300;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 20px 0;
}

.time-and-phones {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  padding: 0 15px;
  margin-bottom: 120px;
  line-height: 2;
}

.time-and-phones span {
  font-weight: 700;
  white-space: nowrap;
}

.time-and-phones a {
  color: rgba(51, 51, 51, 0.5);
  font-weight: 700;
  white-space: nowrap;
}

.time-and-phones a:hover {
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  color: #E8C300;
}

.specialties * {
  color: #fff;
}

.specialties {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 45px;
}

.specialties__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.specialties .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specialties .image-block__photo img {
  margin-left: auto;
}

/* Стили для Слайдера */
.slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
}

.slick-dots li:hover {
  cursor: pointer;
}

.slick-dots li.slick-active {
  background-color: #fff;
}

.slick-dots li button {
  font-size: 0;
}

.specialties-slider .specialties-slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specialties-slider_dots {
  text-align: center;
}

@media (max-width: 1091px) {
  .info-block {
    top: 32%;
  }
  .info-block__title {
    white-space: normal;
  }
  .time-job {
    left: -7%;
  }
}

@media (max-width: 901px) {
  .block-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-btn__book {
    margin: 0 0 6% 0;
  }
  .block-btn__explore {
    margin: 0;
  }
  .line-center {
    display: none;
  }
}

@media (max-width: 769px) {
  .nav ul li {
    display: none;
  }
  .nav ul {
    margin: 0;
  }
  .nav ul .logo {
    position: relative;
    margin-left: 0;
    margin: 22px 0 0 0;
  }
  .mob-menu {
    display: block;
    z-index: 20;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    margin-top: 35px;
    background: none;
  }
  .menu li:not(:last-child) {
    margin-bottom: 35px;
  }
  .logo--mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3% 0 0 0;
  }
  .menu__link {
    font-size: 20px;
  }
  .menu__link:active {
    text-decoration: underline;
  }
  .social-block {
    right: 7%;
    bottom: 26%;
  }
  .social-block a:not(:last-child) span {
    margin-bottom: 40px;
  }
}

@media (max-width: 641px) {
  .info-block__title {
    margin-top: 9%;
    font-size: 80px;
  }
  .time-job {
    left: -9%;
  }
  .block-btn {
    margin-top: 8%;
  }
}

@media (max-height: 679px) {
  .menu li {
    margin-bottom: 25px;
  }
}

@media (max-height: 604px) {
  .menu li {
    margin-bottom: 20px;
  }
}

@media (max-width: 581px) {
  .info-block__title {
    font-size: 70px;
  }
  .time-job {
    left: -11%;
  }
  .social-block {
    right: 5%;
    bottom: 21%;
  }
}

@media (max-width: 511px) {
  .info-block__title {
    font-size: 60px;
  }
  .time-job {
    left: -13%;
  }
}

@media (max-width: 481px) {
  .info-block__title {
    font-size: 60px;
  }
  .time-job {
    left: -16%;
  }
}

@media (max-width: 461px) {
  .info-block__title {
    font-size: 50px;
  }
  .time-job {
    left: -19%;
  }
}

@media (max-width: 461px) {
  .info-block__title {
    margin-top: 18%;
    font-size: 50px;
  }
  .time-job {
    left: -19%;
  }
  .block-btn {
    margin-top: 25%;
  }
  .block-btn__book {
    margin-bottom: 10%;
  }
}

@media (max-width: 401px) {
  .time-job {
    left: -23%;
  }
  .social-block {
    right: 3%;
    bottom: 19%;
  }
}

@media (max-width: 361px) {
  .time-job {
    left: -26%;
  }
  .block-btn__book {
    margin-bottom: 19%;
  }
  .social-block {
    right: 3%;
  }
  .menu__link {
    font-size: 18px;
  }
  .menu li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 321px) {
  .line-vert-l {
    left: 13%;
  }
  .line-vert-r {
    right: 13%;
  }
  .time-job {
    left: -33%;
  }
  .block-btn__book {
    margin-bottom: 19%;
  }
  .social-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 15.5%;
    bottom: 2%;
  }
  .social-block a:not(:last-child) span {
    margin: 0 22px 0 0;
  }
  .info-block__title {
    margin-top: 10%;
  }
  .info-block__title::after {
    margin-top: 5%;
  }
  .block-btn {
    margin-top: 10%;
  }
  .block-btn__book {
    margin-bottom: 10%;
  }
  .menu {
    margin-top: 25px;
  }
  .menu__link {
    font-size: 16px;
  }
  .menu li:not(:last-child) {
    margin-bottom: 25px;
  }
}

/* ABOUT US */
@media (max-width: 921px) {
  .about-us .container,
  .ourteam .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .time-and-phones {
    font-size: 14px;
  }
}

@media (max-width: 501px) {
  .image-block__cube {
    display: none;
  }
}

/* END ABOUT US */
/* BOOK A TABLE */
@media (max-width: 1115px) {
  .time-and-phones {
    margin-bottom: 50px;
  }
}

@media (max-width: 1041px) {
  .bookatable .container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section-info-block__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__input {
    height: 54.5px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .time-and-phones {
    margin-top: 25px;
  }
}

@media (max-width: 950px) {
  .section-info-block__title_form {
    font-size: 26px;
  }
  .section-info-block__form {
    padding-right: 0;
  }
}

@media (max-width: 921px) {
  .section-info-block__title_form {
    white-space: nowrap;
    font-size: 36px;
  }
  .bookatable .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__input {
    height: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
  .section-info-block__form {
    padding: 0 10%;
  }
  .time-and-phones {
    margin-top: 0;
  }
}

@media (max-width: 501px) {
  .section-info-block__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__input {
    height: 54.5px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .section-info-block__form {
    padding: 0 5%;
  }
  .form__button {
    margin-bottom: 5%;
  }
}

/* END BOOK A TABLE */
/* SLIDER */
@media (max-width: 963px) {
  .specialties-slider_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .specialties .image-block__photo img {
    margin: 0 auto;
  }
  .specialties .image-block__cube_left {
    left: 50px;
  }
  .specialties-slider_dots {
    padding-top: 50px;
  }
}

@media (max-width: 690px) {
  .specialties .image-block__cube_left {
    display: none;
  }
}

@media (max-width: 381px) {
  .specialties-slider_dots {
    padding-top: 25px;
  }
}

/* END SLIDER */
